<div class="container">
  <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a
          href="/"
          class="d-inline-flex link-body-emphasis text-decoration-none"
      >
        <svg
            class="bi"
            width="40"
            height="32"
            role="img"
            aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
    </div>
    <ul
        class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
    >
      <li><a href="/" class="nav-link px-2 {% if request.path == '/' %}link-secondary{% endif %}">Home</a></li>
      <li><a href="{% url "task_manager:position-list" %}"
             class="nav-link px-2 {% if request.path == '/positions/' %}link-secondary{% endif %}">Positions</a></li>
      <li><a href="{% url "task_manager:worker-list" %}"
             class="nav-link px-2 {% if request.path == '/workers/' %}link-secondary{% endif %}">Workers</a></li>
      <li><a href="{% url "task_manager:task-list" %}" class="nav-link px-2 {% if request.path == '/workers/' %}link-secondary{% endif %}">Tasks</a></li>
      <li><a href="#" class="nav-link px-2">Task Types</a></li>
    </ul>
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-primary">
        {% if user.is_authenticated %}
          {{ user.username }}
        {% else %}
          <a class="login-btn" href="{% url "login" %}">Login</a>
        {% endif %}
      </button>
    </div>
  </header>
</div>
<script
    src="{{ ASSETS_ROOT }}/dist/js/bootstrap.bundle.min.js"
    class="astro-vvvwv3sm"
></script>
