{% extends "base.html" %}

{% block content %}
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Task Manager Statistic</h2>
    <div
        class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5"
    >
      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4" style="flex-wrap: nowrap">
          <div class="col d-flex flex-column gap-2">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            >
              <img width="350px" height="30px" src="{{ ASSETS_ROOT }}/img/position.svg">
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">
              Positions
            </h4>
            <p class="text-body-secondary">
              Paragraph of text beneath the heading to explain the heading.
            </p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            >
              <img width="350px" height="30px" src="{{ ASSETS_ROOT }}/img/worker.svg">
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">
              Workers
            </h4>
            <p class="text-body-secondary">
              Paragraph of text beneath the heading to explain the heading.
            </p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            >
              <img width="350px" height="30px" src="{{ ASSETS_ROOT }}/img/tasks.svg">
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">
              Tasks
            </h4>
            <p class="text-body-secondary">
              Paragraph of text beneath the heading to explain the heading.
            </p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"
            >
              <img width="350px" height="30px" src="{{ ASSETS_ROOT }}/img/tasktype.svg">
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">
              Task types
            </h4>
            <p class="text-body-secondary">
              Paragraph of text beneath the heading to explain the heading.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}