{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="list-and-create-btns">
      <h1>Position List
      </h1>
      <a class="btn btn-bd-primary create" href="{% url "task_manager:position-create" %}">Create Position</a>
    </div>
  <br>
    {% include "includes/search_form.html" %}

    {% if position_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Position</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        {% for position in position_list %}
          <tr>
            <td>{{ position.id }}</td>
            <td>{{ position.name }}</td>
            <td>
              <a class="link-light" href="{% url 'task_manager:position-update' pk=position.id %}">
                Update
              </a>
            </td>
            <td>
              <a class="link-danger" href="{% url 'task_manager:position-delete' pk=position.id %}">
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
      </div>
    {% else %}
      <div>
        <p>There are no position in the service.</p>
      </div>
    {% endif %}
{% endblock %}